<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Buy your tickets for Autumn">
    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" href="<%= BASE_URL %>icon.ico">
    <!-- Recommended favicon format -->
    <link rel="icon" type="image/png" href="<%= BASE_URL %>icon.png">

    <!-- Apple Touch Icon (at least 200x200px) -->
    <link rel="apple-touch-icon" href="/custom-icon.png">
    
    <!-- To run web application in full-screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
    <!-- Has no effect unless you have the previous meta tag -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Microsoft Tiles -->
    <meta name="msapplication-config" content="browserconfig.xml">

    <!-- Helps prevent duplicate content issues -->
    <link rel="canonical" href="https://autumn-2268b.web.app/">
    <script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
    <script src="https://kit.fontawesome.com/13d4753fd6.js" crossorigin="anonymous"></script>

    <title>autumn</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but autumn doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
