<template>
  <div id="SectionSeven">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <div class="content">
            <h3>You can help us</h3>
            <h4>to save the nature</h4>
            <button class="purple-button-outline">Support us</button>
          </div>
        </div>
        <div class="column is-6">
          <div class="aspectOneByOne">
            <img src="../assets/illistruationThree.png" alt />
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="columns spacing">
        <div class="column is-4">
          <span>Adresss:</span>
          <p>London, 32 London Bridge St</p>
          <p>SE1 9SG</p>
        </div>
        <div class="column is-4 has-text-centered float-center">
          <div class="postion">
            <span>Email:</span>
            <p>contact@reserve.io</p>
            <p>support@reserve.io</p>
          </div>
        </div>
        <div class="column is-4 float-right">
          <div class="postion">
            <span>Phone:</span>
            <p>+44 (0)20 3011 1256</p>
            <p>+44 (0)84 4499 7111</p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-12 has-text-centered spacing">
          <div class="small-divider"></div>
          <a href="#" class="facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#" class="twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scope>
#SectionSeven {
  background: #f9f9f9;
  .spacing {
    margin-bottom: 60px;
  }
  .float-center {
    position: relative;
    .postion {
      text-align: left;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .float-right {
    position: relative;
    .postion {
      position: absolute;
      right: 0;
    }
  }
  a {
    color: #c2c9d6;
    i {
      margin: 0 20px;
      font-size: 24px;
      transition: ease 0.5s;
    }
  }

  .facebook:hover {
    i {
      color: #3b5998;
      transform: scale(1.1);
    }
  }
  .linkedin:hover {
    i {
      color: #4875b4;
      transform: scale(1.1);
    }
  }
  .twitter:hover {
    i {
      color: #33ccff;
      transform: scale(1.1);
    }
  }
  .instagram:hover {
    i {
      color: #4e433c;
      transform: scale(1.1);
    }
  }
  span {
    font-weight: bold;
    margin-bottom: 15px;
  }
  .content {
    padding: 20% 0;
    h3 {
      font-size: 64px;
      font-weight: 400;
      margin-bottom: 15px;
    }
    h4 {
      margin-bottom: 0px;
      color: #d21144;
      font-weight: bold;
      font-size: 40px;
    }
  }
  .divider {
    border-bottom: 1px solid #d9dde2;
    margin-bottom: 60px;
  }
  .small-divider {
    text-align: center;
    width: 10%;
    margin: auto;
    border-bottom: 1px solid #d9dde2;
    margin-bottom: 30px;
  }
  .aspectOneByOne {
    position: relative;
    width: 100%;
    padding-top: 100%; // 1:1 Aspect Ratio //
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      transform: scale(1.5);
    }
  }
}
.purple-button-outline {
  display: inline-flex;
  margin-top: 100px;
  color: #4e56dc;
  font-size: 1.3rem;
  font-weight: bold;
  border: 1px solid #4e56dc;
  cursor: pointer;
  -webkit-box-pack: center;
  background-color: transparent;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: calc(1em - 1px);
  padding-left: 4em;
  padding-right: 4em;
  padding-top: calc(1em - 1px);
  text-align: center;
  white-space: nowrap;
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-box-shadow: 0 3px 6px rgba(78, 86, 220, 0.16),
    0 3px 6px rgba(78, 86, 220, 0.23);
  box-shadow: 0 3px 6px rgba(78, 86, 220, 0.16),
    0 3px 6px rgba(78, 86, 220, 0.23);
}
</style>