<template>
  <div id="sectionFive">
    <h2 class="has-text-centered">Explore the Wildlife</h2>
    <div class="column is-6 position">
      <img src="../assets/illistruationTwo.png" alt />
    </div>
    <transition>
      <div class="svg"></div>
    </transition>
    <div class="container">
      <div class="img-container"></div>
      <div class="column ">
        <div class="columns">
          <div class="column is-8"></div>
          <div class="column is-4">
            <p class="one">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta,
              aut voluptatum. Libero ad explicabo laboriosam temporibus magni
              eaque consequatur atque placeat? Aspernatur quae quasi beatae ut
              in accusamus exercitationem tempora?
            </p>
          </div>
        </div>
      </div>
      <div class="column is-5 is-offset-7">
        <p class="one">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
          exercitationem ea dolorum, ad cum voluptatem pariatur recusandae
          tenetur ipsum! Quaerat, velit sint. Culpa rem sunt explicabo at,
          laboriosam optio suscipit?
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#sectionFive {
  padding: 15vh 0;
  h2 {
    font-size: 64px;
    color: #000;
    margin-bottom: 60px;
  }
  .position{
    position: relative;
    img{
      position: absolute;
      right: 25%;
    }
  }
  .one {
    padding-top: 100px;
    font-weight: 500;
  }

  .leaf {
    width: 100px;
    transform: rotate(100deg);
  }

  .leaf2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(-25deg);
  }

  .leaf3 {
    position: absolute;
    top: 100%;
    left: 0;
    transform: rotate(-69deg);
  }

  .svg {
    position: relative;
    width: 100%;
    svg {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  image {
    //we divide the line in multiple dashes (some full and other empty)
    //these dashes have 1000px in length
    //so there are one dash full of 1000px of length and then one dash empty of 1000px of length and so on and so forth
    stroke-dasharray: 1000;

    //we change the position of the dashes
    stroke-dashoffset: 1000;

    //now we animate the dashoffset
    //we reduce the offset of each dash so we have the impression that the dashes are moving
    animation: dash 5s linear forwards;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
</style>


