<template>
  <div class="row has-text-centered" id="sectionTwo">
    <h4 class>Our Mission</h4>
    <h3>
      Connectiong people with nature. Safeguarding
      <br />species from exstintion
    </h3>
    <div class="columns">
      <div class="column" style="align-self: center;">
        <div class="is-inline-flex circle">
          <img
            class="far lazy-load"
            src="./../assets/icon.png"
            alt="illustration"
          />
          <p>Founded in 1996</p>
        </div>
      </div>
      <div class="column">
        <div class="is-inline-flex">
          <i class="far fa-square">
            <i class="fas fa-square"></i>
          </i>
          <p>
            Total area -
            <br />200 00 hectares
          </p>
        </div>
      </div>
      <div class="column">
        <div class="is-inline-flex">
          <i class="far fa-circle">
            <i class="fas fa-circle"></i>
          </i>
          <p>
            50 species are listed in
            <br />the Red Book
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.fa-leaf {
  position: relative;

  background: red;
}
.fa-leaf:before {
  background: green;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 50%;
  height: 100%;
}
.far.fa-circle {
  color: #dadbe4;
  position: relative;
}
.fas.fa-circle {
  color: #ca0034;
  font-size: 30px;
  margin: 0;
  position: absolute;
  top: 52%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.fa-square {
  position: relative;
  color: #dadbe4;
}
.fas,
.far {
  padding: 0 20px;
  font-size: 48px;
  align-self: center;
  .fa-square {
    color: #ca0034;
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
