<template>
  <div class="row" id="sectionThree">
    <div class="columns is-gapless">
      <div class="column is-half">
        <img src="../assets/leftvector.png" alt />
      </div>
      <div class="column is-half">
        <div class="greyBg">
          <h5>Pricing</h5>
          <div class="columns">
            <div class="column is-half">
              <span class="is-flex">
                <p>£</p>
                12
              </span>
              <p>Adult ticket</p>
            </div>
            <div class="column is-half">
              <span class="is-flex">
                <p>£</p>
                5
              </span>
              <p>Child ticket <br />(4-12 years old)</p>
            </div>
          </div>
          <a href="#" class="Buy is-inline-flex">
            <p>Buy Tickets</p>
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
img {
  width: 100%;
  height: 100%;
}
.greyBg {
  background-color: #f2f7fa;
  width: 100%;
  height: 100%;
  padding: 150px 200px;
  .column.is-half {
    padding-left: 35px;
  }
  h5 {
    font-size: 42px;
    font-weight: 500;
  }
  span {
    font-size: 144px;
    align-self: center;
    padding-top: 25px;
    font-weight: 300;
    position: relative;
    p {
      font-weight: 400;
      font-size: 24px;
      position: absolute;
      bottom: 48%;
      left: -8%;
    }
  }
  .Buy {
    font-weight: bold;
    color: #bc0738;
    font-size: 24px;
    margin-top: 80px;
    p {
      text-decoration: underline;
      margin-right: 15px;
    }
  }
}
</style>
